.container {
  max-width: 720px;
  max-height: 100vh;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 14px;
}

.logo {
  max-width: 227px;
  border-radius: 50%;
}

.title {
  color: #fff;
  text-align: center;
  margin: 10px 0;
}
.title_h4 {
  color: #fff;
  text-align: center;
  font-weight: lighter;
  margin: 0px 5px 15px 15px;
}

.form label {
  color: #fff;
  font-size: 20px;
}

.input {
  width: 100%;
  height: 48px;
  border: 0;
  border-radius: 4px;
  font-size: 20px;
  padding: 0 14px;
  margin-bottom: 16px;
  margin-top: 8px;
  outline: none;
}

.button {
  width: 100%;
  height: 48px;
  background-color: #037516;
  border: 0;
  border-radius: 4px;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  outline: none;
}
.button:hover {
  background-color: #00b71d;
}

.button-limpar {
  width: 100%;
  height: 48px;
  background-color: #98bb19;
  border: 0;
  border-radius: 4px;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
}
.result {
  /* background-color: #00b63e; */
  background-color: #00b71d;
  width: 100%;
  max-width: 420px;
  padding: 20px 28px;
  border-radius: 4px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 24px 0;
  transition: transform 0.8s;
}

.result:hover {
  transform: scale(1.1);
}

.result-title {
  font-weight: bold;
  font-size: 24px;
  color: #fff;
  margin-bottom: 16px;
}

.result span {
  color: #fff;
  margin-bottom: 8px;
  font-size: 18px;
}

.footer {
  color: #fff;
  padding: 2rem 1rem;
  text-align: center;
  margin-top: 40px;
  border-top: 1px solid #29292e;
}

.footer-links {
  margin-top: 18px;
}
.footer-links a {
  text-decoration: none;
  margin-left: 10px;
  padding: 10px;
  color: #fff;
}
